.wd-tweet-button {
  border-radius: 20px;
  width: 100%;
  padding: 0px;
  text-align: center;
}

.wd-rounded-corners-all-around {
  height: 40px;
  border-radius: 50px;
  width: 100%;
  border-left: 0;
}


.wd-main {
  position: relative;
}

.wd-main-image {
  width: 100%
}

.wd-overlay-text {
  font-size: 40px;
  color: white;
  font-weight: bold;
  position: absolute;
  bottom: 0px;
  left: 2px;
}

.wd-post {
  display: flex;
  justify-content: space-between;
}

.wd-post-topic {
  font-size: 13px;
  color: rgb(110, 118, 125);
  padding-bottom: 3px;
  padding-top: 3px;
}

.wd-author-handle {
  display: inline-block;
  font-weight: bold;
}

.wd-time {
  display: inline-block;
  color: rgb(110, 118, 125);
}

.wd-post-image {
  object-fit: cover;
  float: right;
  padding-top: 5px;
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.wd-img-avatar {
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.wd-btn-follow {
  font-size: 13px;
  color: white;
  padding-bottom: 3px;
  padding-top: 3px;
}

.wd-search-area {
  padding-left: 50px;
}

.wd-search-glass {
  position: absolute;
  margin-left: 15px;
  top: 36px;
}