.wd-tweet-button {
  border-radius: 20px;
  width: 100%;
  padding: 0px;
  text-align: center;
}

.wd-rounded-corners-all-around {
  height: 40px;
  border-radius: 50px;
  width: 100%;
  border-left: 0;
}

.wd-nav {
  display: flex;
  justify-content: left;
}

.wd-nav-text {
  display: inline-block;
}

.wd-home-hr {
  border-bottom: solid 1px rgb(110, 118, 125);
}

.wd-home-img {
  object-fit: cover;
  margin-right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.wd-home-buttons {
  display: flex;
  justify-content: space-between;
  margin: 10px 5px 10px 5px;
}

.wd-home-button {
  border: none;
  font-size: 13px;
  color: rgb(110, 118, 125);
}

.wd-home-preview-img {
  border: solid 1px rgb(110, 118, 125);
  object-fit: cover;
  width: 100%;
}

.wd-home-preview-post {
  border: solid 1px rgb(110, 118, 125);
  border-top: none;
  padding: 5px;
}

.wd-home-preview-title {
  color: white;
}

.wd-home-post {
  display: flex;
  justify-content: left;
}

.wd-home-username {
  display: inline-block;
  font-size: 13px;
  color: rgb(110, 118, 125);
  padding-bottom: 3px;
  padding-top: 5px;
}

.wd-home-text {
  color: white;
  padding-bottom: 3px;
  padding-top: 5px;
}

.wd-home-author {
  display: inline-block;
  color: white;
  font-weight: bold;
}

.wd-home-time {
  display: inline-block;
  font-size: 13px;
  color: rgb(110, 118, 125);
}

.wd-main {
  position: relative;
}

.wd-main-image {
  width: 100%
}

.wd-overlay-text {
  font-size: 40px;
  color: white;
  font-weight: bold;
  position: absolute;
  bottom: 0px;
  left: 2px;
}

.wd-post {
  display: flex;
  justify-content: space-between;
}

.wd-post-topic {
  font-size: 13px;
  color: rgb(110, 118, 125);
  padding-bottom: 3px;
  padding-top: 3px;
}

.wd-author-handle {
  display: inline-block;
  color: white;
  font-weight: bold;
}

.wd-time {
  display: inline-block;
  color: rgb(110, 118, 125);
}

.wd-post-image {
  object-fit: cover;
  float: right;
  padding-top: 5px;
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.wd-img-avatar {
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.wd-btn-follow {
  font-size: 13px;
  color: white;
  padding-bottom: 3px;
  padding-top: 3px;
}

.wd-search-area {
  padding-left: 50px;
}

.wd-search-glass {
  position: absolute;
  margin-left: 15px;
  top: 45px;
}