#focus-pg {
  background-color: lightgreen;
  color: red;
}

h1 {
  background-color: blue;
}

h2 {
  background-color: purple;
  color: white;
}

p#goals {
  background-color: green;
  /* border-width: 20px;
  border-color: blue;
  border-style: ridge; */
  border:30px blue dotted;
  border-bottom: 40px red ridge;
  border-top-width: 20px;
  border-top-color: purple;
  border-top-style: dashed;
}

p {
  background-color: green;
}

p {
  background-color: #001080;
  color: yellow;
}